Source: emotion-players
Section: libs
Priority: optional
Maintainer: Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <lutin@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, libeina-dev (>= 1.15),
 libvlc-dev
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-e/libs/emotion-players.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-e/libs/emotion-players.git
Homepage: http://www.enlightenment.org

Package: libemotion-players
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Additional file format loaders for libemotion
 This package contains programs that allow libemotion to use libvlc to
 access additional formats for which it has no built-in support.
